.window {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.full {
	width: 100%;
}

#trace-box {
	position: fixed;
	width: 600px;
	height: 400px;
	top: 0px;
	right: 0px;
	top: 0px
}

body {
	font-size: 16px;
	font-family: Ubuntu, sans-serif;
	font-weight: 300;
	color: #333;
}

h1,h2,h3,h4 {
	font-family: Ubuntu, sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 20px;
}

#lbSlider {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	min-height: 100%;
}

.section {
	position: absolute;
	left: 0px;
	width: 100%;
	height: auto;
	display: none;
	z-index: 100;
}

.top-offset {
	position: relative;
	height: 60px;
}

/* 
-----------------------------------------------
 Main Menu
----------------------------------------------- */

#logo-con {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 3000;
}

#logo-con .lb-logo {
	position: absolute;
	width: 245px;
	height: 40px;
	background: url(../images/sprite.png) no-repeat 0px -20px;
	top: 0px;
	left: 0px;
}

#main-menu {
	position: fixed;
	top: 55px;
	left: -300px;	
	z-index: 3000;
}

#main-menu li {
	position:relative;
	margin: 0px;
	font: 16px Ubuntu, sans-serif;
	font-weight: 300;
	white-space:nowrap;
	color: #555;
	clear: both;
	left: 0px;
	cursor: pointer;
	width: auto;
}

#main-menu .tab {
	position: absolute;
	top: 0px;
	left: 300px;
	height: 60px;
	width: 45px;
	background: url(../images/sprite.png) no-repeat 0px -65px;
	cursor: pointer;
}

#main-menu .tab.open {
	background: url(../images/sprite.png) no-repeat -55px -65px;
}

#main-menu .bg{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	background-color: #D8D8D8; /* For IE8 and earlier */
}

#main-menu .content {
	position: relative;
	top: 0px;
	left: 0px;
	width : 300px;
	padding: 5px 0px 10px 20px;
	border-style: solid;
	border-width: 1px;
	border-color:#999;
}

#main-menu .group-con {
	position: relative;
}

#main-menu .group-con>ul>li{
	padding-bottom: 5px;
}

#main-menu .group-con>ul>li.active .group-label{
	font-weight: 500;
}

#main-menu ul {
	padding: 0px;
}

#main-menu .sec-con>ul {
	padding-left: 12px;
}

#main-menu .sec-con .cbox {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
	position: relative;
	text-indent: -9000px;
	overflow: hidden;
	width: 15px;
	height: 15px;
	background: url(../images/sprite.png) no-repeat -20px 0px;
}


#main-menu .sec-label {
	display:inline-block;
	line-height: 100%;
}

#main-menu .group-label {
	font: 18px Ubuntu, sans-serif;
	font-weight: 300;
}

#main-menu .sec-con li.hover .cbox {
	background-position: -20px 0px;
}

#main-menu .sec-con li.active .cbox {
	background-position: 0px 0px;
	width: 15px;
	height: 15px;
}

#main-menu .sec-con li.active {
	font-weight: 500;
}

#main-menu .sec-con li.hover {
	font-weight: 500;
}


/* 
-----------------------------------------------
section styles
----------------------------------------------- */
#canvas {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: relative;
}

.canvas {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}

.info {
	display:none;
	position:fixed;
	top: 210px;
	left: 5px;
	z-index: 3050;
	width: 90%;
}

.info-icon {
	position: absolute;
	width: 62px;
	height: 38px;
	background: url(../images/sprite.png) no-repeat 0px -130px;
	cursor: pointer;
	z-index: 3050;
}

.info-icon.open {
	background: url(../images/sprite.png) no-repeat -62px -130px;
}

.info .content-con {
	display:none;
	position: absolute;
	left: 55px;
	top: 0px;
	border-style: solid;
	border-width: 1px;
	border-color:#999;
	
	overflow-y:auto;
}

.info .content {
	position: relative;
	padding: 30px 10px 10px 10px;
	width: auto;
	height: auto;
}

.info-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	background-color: #D8D8D8; /* For IE8 and earlier */
}

.info ul {
	list-style: none;
	padding-left: 12px;
}

.info li:before {  
    content: " > ";  
} 

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }
